<div>
    <video id="live" width="320" height="240" autoplay style="display: inline;"></video>
</div>

<script type="text/javascript">
    var video = document.getElementById("live")
    var ctx;
    // use the chrome specific GetUserMedia function
    navigator.webkitGetUserMedia("video",
            function(stream) {
                video.src = webkitURL.createObjectURL(stream);
            },
            function(err) {
                console.log("Unable to get video stream!")
            }
    )
</script>
